/GestioneMonetaria/nbproject/private/
/GestioneMonetaria/dist/
/GestioneMonetaria/build/
/GestioneMonetaria/FileCache.bin
LogServerXML/serverLog.txt
LogServerXML/ricevuto.xml
/LogServerXML/nbproject/private/
/LogServerXML/build/
/LogServerXML/dist/
